.header {
    background-color: #1C1C21;
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.list {
    margin: 0;
    width: 1280px;
    align-items: center;
}

.item {
    display: flex;
    align-items: center;
}

.item:last-of-type {
    margin-left: auto;
}

.logo {
    position: absolute;
}



