.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.parContainer {
    display: flex;
    gap: 20px;
}

.par {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
